<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="mainstyle.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title> КиноПоисковик </title>
  <style>
    .bottom{
      position: fixed; /* Фиксированное положение */
      bottom: 0; /* Левый нижний угол */
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">КиноПоисковик</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Афиша</a>
      <a class="nav-item nav-link" href="/films">Фильмы</a>
      <a class="nav-item nav-link" href="#">Рейтинги</a>
      <a class="nav-item nav-link" href="#">Медиа</a>
      <% if (obj.login != undefined) {%>
        <a class="nav-item nav-link" href="/favorite_films">Любимые</a>
      <%}%>
    </div>
    <% if (obj.login == undefined) {%>
    <div class="btn-group" role="group" aria-label="Basic example" id = "register">
      <a class="btn btn-secondary" href="/user/sign" role="button">Регистрация</a>
      <a class="btn btn-secondary" href="/user/login" role="button">Войти</a>
    </div>
    <%}%>
    <% if (obj.login !== undefined) {%>
      <form action= "/user/logout" method="post" id = "register">
        <div class="btn-group" role="group" aria-label="Basic example">
          <a class="btn btn-secondary" href="/user/edit" role="button" id = "out"><%= obj.login %></a>
          <button type="submit" class="btn btn-secondary"> Выйти </button>
        </div>
      </form>
    <%}%>
  </div>
</nav>

<div class="container text-center my-3">
  <div class="row mx-auto my-auto">
    <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner w-100" role="listbox">
        <div class="carousel-item active">
          <img class="d-block col-3 img-fluid" src="https://st.kp.yandex.net/images/film_iphone/iphone360_1044601.jpg">
        </div>
        <div class="carousel-item">
          <img class="d-block col-3 img-fluid" src="https://www.film.ru/sites/default/files/movies/posters/6217049-1048385.jpg">
        </div>
        <div class="carousel-item">
          <img class="d-block col-3 img-fluid" src="https://st.kp.yandex.net/images/film_iphone/iphone360_843859.jpg">
        </div>
        <div class="carousel-item">
          <img class="d-block col-3 img-fluid" src="https://st.kp.yandex.net/images/film_iphone/iphone360_840372.jpg">
        </div>
        <div class="carousel-item">
          <img class="d-block col-3 img-fluid" src="https://st.kp.yandex.net/images/film_iphone/iphone360_1012431.jpg">
        </div>
        <div class="carousel-item">
          <img class="d-block col-3 img-fluid" src="https://st.kp.yandex.net/images/film_iphone/iphone360_843650.jpg">
        </div>
      </div>
      <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>


<div class="bottom">
  Copyright © 2018. All rights reserved. КиноПоисковик.
</div>

<!-- Include jQuery. -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="carusel.js"> </script>
</body>
</html>
